<body>
    <div class="form-wrapper">
        <div class="container">
        
         
                    
                        <div class="row text-center ">
                            <div class="col-lg-8 mx-auto">
                                &nbsp;
                                <h4 class="display-5">Welcome to DRUG FORM DETAILS</h4>
            
            
                            </div>
                        </div>
                        &nbsp;
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-5">
                        <button type="button" title="production" routerLink="/drugform1" style="border-radius: 50%;height: 120px;width:120px;text-align:center;"><h4> DRUG FORM1 </h4></button>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <button type="button" title="Sales" routerLink="/drugform2" style="border-radius: 50%;height: 120px;width:120px;text-align:center;"><h4>DRUG FORM2</h4></button>
                            </div>
                           
                               
                                    
                                        
                    </div>
                   
            </div>
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   